# 2장 연습문제

# Q1
----------------
홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해보자.

**과목**|**점수**
--------|---------
국어|80
영어|75
수학|55

In [1]:
a=80
b=75
c=55
(a+b+c)/3

70.0

# Q2
---------
자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.

나머지 연산자를 사용하면 자연수의 홀수, 짝수를 쉽게 판별할 수 있다.

In [2]:
1%2

1

In [3]:
2%2

0

In [4]:
3%2

1

In [5]:
4%2

0

1,2,3,4라는 자연수를 2로 나누었을 때의 나머지 값을 출력하는 예제이다. 결과를 보면 자연수가 홀수일 때는 1을 짝수일 때는 0을 돌려주는 것을 확인할 수 있다.

In [6]:
13%2

1

같은 방식으로 13에 적용했을 때 1을 돌려주는 것을 확인할 수 있고 따라서 13은 홀수이다.

# Q3
---------
홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

In [7]:
pin='881120-1068234'
yyyymmdd=pin[:6]
num=pin[7:]
print(yyyymmdd)
print(num)

881120
1068234

# Q4
--------
주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

In [8]:
pin='881120-1068234'
print(pin[7])

1

# Q5
-------
다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.

In [9]:
a='a:b:c:d'
b=a.replace(":","#")
print(b)

a#b#c#d

# Q6
----------
[1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.

In [10]:
a=[1,3,5,4,2]
a.sort()
a.reverse()
a

[5, 4, 3, 2, 1]

# Q7
-------
['Life', 'is', 'too', 'short'] 라는 리스트를 Life is too short라는 문자열로 만들어 출력해 보자.

In [11]:
a=['Life','is','too','short']
result=" ".join(a)
print(result)

Life is too short

# Q8
-------
(1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.

In [12]:
a=(1,2,3)
a=a+(4,)
print(a)

(1, 2, 3, 4)

# Q9
--------
다음과 같은 딕셔너리 a가 있다.

In [13]:
a=dict()
a

{}

다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.
1. `a['name']='python'`
2. `a[('a',)]='pyhton'`
3. `a[[1]]='pyhton'`
4. `a[250]='python'`

In [14]:
a[[1]]='pyhton' # 3번째 꺼

TypeError: unhashable type: 'list'

오류가 발생하는 이유는 딕셔너리의 키로는 변하는 값을 사용할 수 없기 때문이다. 위 예에서 키로 사용된 [1]은 리스트이므로 변하는 값이다. 다른 예에서 키로 사용된 문자열, 튜플, 숫자는 변하지 않는 값이므로 딕셔너리의 키로 사용이 가능하다.

# Q10
---------
딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.

In [15]:
a={'A':90,'B':80,'C':70}
result=a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

# Q11
---------
a 리스트에서 중복 숫자를 제거해 보자.

In [16]:
a=[1,1,1,2,2,3,3,3,4,4,5]
aSet=set(a)
b=list(aSet)
print(b)

[1, 2, 3, 4, 5]

# Q12
---------
파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a,b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b값은 어떻게 될까? 그리고 이런 결과가 오는 이유에 대해 설명해 모자.

In [17]:
a=b=[1,2,3]
a[1]=4
print(b)

[1, 4, 3]

In [18]:
print(id(a))
print(id(b))

2397396823368
2397396823368

id()함수를 이용하여 확인해보면 a와 b가 같은 것을 알 수 있다. 즉 a와 b는 표현만 다르게 된거지 본질적으로는 같은 것이라고 여겨지기때문이다

# 3장 연습문제

# Q1
--------
다음 코드의 결괏값음 무엇일까?

In [19]:
a="Life is too short, you need python"

if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

shirt

# Q2
---------
while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해 보자.

In [20]:
result=0
i=1
while i<=1000:
    if i%3==0:
        result += i
    i+=1
    
print(result)

166833

# Q3
--------
while문을 사용하여 다음과 같이 별(`*`)을 표시하는 프로그램을 작성해 보자.  
`*`  
`**`  
`***`  
`****`  
`*****`

In [21]:
i=0
while i<=4:
    i += 1
    print('*'*i)

*
**
***
****
*****

# Q4
--------
for문을 사용해 1부터 100까지의 숫자를 출력해 보자.

In [22]:
for i in range(1,101):
    print(i,end= " ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

# Q5
---------
A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.
[70,60,55,75,95,90,80,80,85,100]  
for문을 사용하여 A 학급의 평균 점수를 구해 보자.

In [23]:
A=[70,60,55,75,95,90,80,80,85,100]
total=0
for score in A:
    total += score
    
average=total/len(A)
print(average)

79.0

# Q6
--------
리스트 중에서 홀수에만 2를 곱하여 저장하는 다음 코드가 있다.

In [24]:
numbers = [1, 2, 3, 4, 5]
result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)

위 코드를 리스트 내포를 사용하여 표현해 보자.

In [25]:
numbers=[1,2,3,4,5]
resuit=[ n*2 for n in numbers if n % 2==1]
print(result)

[2, 6, 10]